<div class="center jumbotron">
  <h1>Gentlemen,</h1>
  <h1>welcome to Fight Club</h1>
  <h2>
    The first rule of Fight Club is: you do not talk about Fight Club ! &#x1F4AA 
  </h2>

  <%= link_to "Scraper ", index_path, class: "btn btn-lg btn-primary" %>
</div>
