<div class="center jumbotron">
  <h1>WELCOME</h1>
  <h1>TO</h1>
  <h1>CRYPTONATOR</h1>
  <h2>
    Scrap scrap scrap scrap scrap &#x1F4AA 
  </h2>

  <span class="btn btn-lg btn-primary" data-turbolinks="false"><%= link_to "Begin to scrap", index_path %> </span>
</div>

 </span>