<footer class="footer">
  <small>
    Lesson <a href="https://www.thehackingproject.org">The Hacking Project</a> session 6
  </small>
  <nav>
    <ul>
      <li><a href="https://coinmarketcap.com/">Go to scraping source</a></li>
    </ul>
  </nav>
</footer>