<footer class="footer">
  <small>
    Exercice <a href="https://www.thehackingproject.org">THP</a> session 6
  </small>
  <nav>
    <ul>
      <li><%= link_to "About"  %></li>
      <li><%= link_to "Contact" %></li>
      <li><a href="https://en.wikipedia.org/wiki/Fight_Club_2">News</a></li>
    </ul>
  </nav>
</footer>