<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Cryptonator", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav mr-auto navbar-right">
        <li>
        <div class="form-group col-md-4">
          <label></label>
          <option><%= form_for(:crypto, url: search_path) do |f| %>
              <%= f.collection_select :name, Crypto.order(:name), :name, :name, :include_blank => false, class: 'navbarDropdown' %></option>
          </select>
        </div></li>
             <li> 
              <label></label>
              <button style="margin-top:12px" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                <% end %>
              </li>
      </ul>
    </nav>
  </div>
</header>